h1 {
  font-family: "Unica One", sans-serif;
  color: #fff;
  position: absolute;
  z-index: 2;
  transform: translate(1em, 2em);
  max-width: 350px;
  opacity: 0;
  animation: fade 1s .75s forwards;
}

.bg, .narwhal-body {
  fill: #78a2b3;
}

.rainbow-violet, .rainbow-indigo, .rainbow-blue, .rainbow-green, .rainbow-yellow, .rainbow-orange, .rainbow-red {
  fill: none;
  stroke-width: 12.37px;
}

.rainbow-violet, .rainbow-indigo, .rainbow-blue, .rainbow-green, .rainbow-yellow, .rainbow-orange, .rainbow-red, .narwhal-body {
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes violet {

  0% {
    stroke-dashoffset: 1917.692px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-violet {
  stroke: #ff00e6;
  animation: violet 1s linear;
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 0;
}

@keyframes indigo {

  0% {
    stroke-dashoffset: 1812.502px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-indigo {
  stroke: #9500ff;
  animation: indigo 1s linear;
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 0;
}

@keyframes blue {

  0% {
    stroke-dashoffset: 1705.479px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-blue {
  stroke: #0040ff;
  animation: blue 1s linear;
  stroke-dasharray: 1705.479px;
  stroke-dashoffset: 0;
}

@keyframes green {

  0% {
    stroke-dashoffset: 1596.043px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-green {
  stroke: #2bff00;
  animation: green 1s linear;
  stroke-dasharray: 1596.043px;
  stroke-dashoffset: 0;
}

@keyframes yellow {

  0% {
    stroke-dashoffset: 1483.352px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-yellow {
  stroke: #fff700;
  animation: yellow 1s linear;
  stroke-dasharray: 1483.352px;
  stroke-dashoffset: 0;
}

@keyframes orange {

  0% {
    stroke-dashoffset: 1366.26px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-orange {
  stroke: #ff8000;
  animation: orange 1s linear;
  stroke-dasharray: 1366.26px;
  stroke-dashoffset: 0;
}

@keyframes red {

  0% {
    stroke-dashoffset: 1243.044px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-red {
  stroke: red;
  animation: red 1s linear;
  stroke-dasharray: 1243.044px;
  stroke-dashoffset: 0;
}

@keyframes narwhal-body {

  0% {
    stroke-dashoffset: 1981.415px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#narwhal-body {
  stroke: #fff;
  stroke-width: 12px;
  animation: narwhal-body .7s linear;
  stroke-dasharray: 1981.415px;
  stroke-dashoffset: 0;
}

#narwhal-eye {
  fill: #fff;
  opacity: 0;
  animation: fade 1s .75s forwards;
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}
